@import "src/assets/css/VariableDefine";
.menu {
  width: 180px;
  height: calc(100% - @main_header_height - 1.5px);
  margin-top: 1.5px;
  .menu_icon {
    width: 26px;
    height: 26px;
    svg {
      height: 100%;
      width: 100%;
    }
  }
  .menu_text {
    font-size: 19px;
    margin-left: 10px;
  }
  .menu_text_small {
    font-size: 17px;
    margin-left: 20px;
  }
}
.content_box {
  position: absolute;
  left: calc(4% + 200px);
  top: 160px;
  width: calc(90% - 180px);
  height: 75%;
}