@import "src/assets/css/VariableDefine";
.menu {
  width: 200px;
  height: 100%;
  .menu_icon {
    width: 26px;
    height: 26px;
    svg {
      height: 100%;
      width: 100%;
    }
  }
  .menu_text {
    font-size: 19px;
    margin-left: 8px;
  }
  .menu_text_small {
    font-size: 17px;
    margin-left: 20px;
  }
}
.content_box {
  position: absolute;
  left: calc(4% + 200px);
  top: 30px;
  width: calc(90% - 180px);
  height: 75%;
}