@import "VariableDefine";
.background_box {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #4da2cb, #67b26f);
  display: flex;
  justify-content: space-around;
  .left_box {
    width: 40%;
    .login_image_box {
      margin-top: 20%;
      margin-left: 20%;
      width: 70%;
      min-width: 10vw;
      display: flex;
      flex-direction: column;
      .title {
        color: white;
        font-size: 4vh;
        font-weight: 500;
        letter-spacing: 8px;
        margin-bottom: 80px;
      }
      .login_image {
        margin-bottom: 3vh;
      }
      .slogan {
        color: white;
        font-size: 2vh;
        font-weight: 500;
        letter-spacing: 6px;
      }
    }
  }
  .right_box {
    width: 40%;
    .login_box {
      margin-top: 20%;
      width: 85%;
      height: fit-content;
      min-width: 10vw;
      padding-top: 5%;
      padding-bottom: 5%;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      text-align: center;
      background: #f6f8f6;
      .title {
        font-size: 4vh;
        font-weight: bold;
        width: fit-content;
        span {
          letter-spacing: 1.2vw;
        }
      }
      .form {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 6%;
        margin-bottom: 2%;
        height: fit-content;
        .ID_login_box {
          position: relative;
          height: 22vh;
          width: 65%;
          .form_item {
            height: 6vh;
            .input {
              height: 100%;
              font-size: 120%;
            }
          }
          .form_item:nth-child(2) {
            margin-top: 2vh;
          }
          .form_item:nth-child(3) {
            margin-top: 2vh;
            .input {
              width: 70%;
            }
            .code_box {
              width: 30%;
              height: 100%;
              border-radius: 5px;
              border: 0.1px solid #e7dfda;
              box-sizing: border-box;
              .code_pic {
                height: 100%;
                width: 100%;
              }
            }
          }
        }
        .email_login_box, .phone_login_box {
          position: relative;
          height: 14vh;
          width: 65%;
          .form_item {
            height: 6vh;
            .input {
              height: 100%;
              font-size: 120%;
            }
          }
          .form_item:nth-child(2) {
            margin-top: 2vh;
            .input {
              width: calc(70% - 2px);
            }
            .get_code_btn {
              margin-left: 2px;
              width: 30%;
              height: 100%;
              font-size: 1.2rem;
            }
          }
        }
      }
      .go_login {
        margin-left: 16vw;
        font-size: 1.4rem;
        cursor: pointer;
      }
      .go_login:hover {
        color: @pointer_on;
      }
      .button_box {
        margin: 2% auto;
        width: 90%;
        display: flex;
        justify-content: space-around;
        .button {
          width: 16%;
          height: 9%;
          font-size: 1.4rem;
        }
      }
      .other_method_box {
        display: flex;
        justify-content: center;
        margin-top: 5%;
        .method_box:not(:first-child) {
          margin-left: 30%;
        }
        .method_box {
          display: flex;
          flex-direction: column;
          align-items: center;
          .method_text {
            font-size: 1.2rem;
            font-weight: 500;
          }
        }
        .method_box:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.left-enter-active,
.right-enter-active {
  transition: all 0.1s ease-out;
}

.left-leave-active,
.right-leave-active {
  transition: all 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}

.left-enter-from {
  transform: translateX(-20px);
  opacity: 0;
}

.left-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.right-enter-from {
  transform: translateX(20px);
  opacity: 0;
}

.right-leave-to {
  transform: translateX(-20px);
  opacity: 0;
}
