.background_box {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #f0ecf1;
  display: flex;
  justify-content: center;
  .register_box {
    position: relative;
    top: 10vh;
    width: 60vw;
    height: fit-content;
    padding-bottom: 6vh;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background: #f6f8f6;
    opacity: 90%;
    min-width: 800px;
    .register_type_box {
      position: relative;
      text-align: center;
      width: 100%;
      height: 8vh;
      background: linear-gradient(135deg, rgba(217, 128, 250, 0.3), rgba(153, 128, 250, 0.3));
      min-width: 800px;
      .register_type {
        height: 8vh;
        width: 12vw;
        min-width: 200px;
        line-height: 8vh;
        font-size: 3.4vh;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 1px 2px 3px rgba(0, 0, 0, .6);
        color: white;
        text-decoration: none;
        position: relative;
        z-index: 1;
        display: inline-block;
        text-align: center;
      }
      .register_type:nth-child(1) {
        margin-right: 8vw;
      }
      .register_type:nth-child(2) {
        margin-left: 8vw;
      }
      .animation,.animation-shadow {
        position: absolute;
        height: 100%;
        width: 13vw;
        min-width: 200px;
        top: 0;
        background: rgba(169, 78, 146, 0.3);
        transition: all .5s ease 0s;
      }
      .animation-shadow {
        background: rgba(141,186,239,0.4);
        left: 9.5vw;
      }
      .register_type:nth-child(1).active~.animation,
      .register_type:nth-child(1).active~.animation-shadow {
        left: 9.5vw;
      }
      .register_type:nth-child(1):hover~.animation-shadow {
        left: 9.5vw !important;
      }
      .register_type:nth-child(2).active~.animation,
      .register_type:nth-child(2).active~.animation-shadow {
        left: 37.5vw;
      }
      .register_type:nth-child(2):hover~.animation-shadow {
        left: 37.5vw !important;
      }
      .register_type:hover {
        cursor: pointer;
      }
    }
    .main_input_box {
      position: relative;
      height: fit-content;
      width: 80%;
      margin: 4vh auto;
      display: grid;
      grid-template-columns: 21vw 21vw;
      grid-column-gap: 6vw;
      grid-template-rows: 5vh 5vh 5vh;
      grid-row-gap: 4.2vh;
      .input {
        min-width: 240px;
        height: 6vh;
        font-size: 2vh;
      }
      .code_box {
        width: 100%;
        height: 6vh;
        .input {
          width: calc(70% - 2px);
        }
        .get_code_btn {
          margin-left: 2px;
          width: 30%;
          height: 6vh;
          font-size: 1.6vh;
        }
      }
      .choose_file_btn {
        height: 4vh;
        width: 5vw;
        font-size: 1.4vh;
      }
    }
    .login_btn_box {
      width: 100%;
      display: flex;
      justify-content: space-around;
      .reset_btn,.upload_btn {
        width: 5.4vw;
        height: 5.4vh;
        font-size: 2.4vh;
      }
    }
  }
}

/deep/ .el-form-item {
  .el-form-item__error {
    position: unset!important;
  }
}

